.btns {
	padding: 2rem 0;
}

.btn {
	padding: 10px 15px;
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	border: none;
	font-size: var(--text-size-s);
	transition: all 0.3s ease;
	line-height: 1.1;
	cursor: pointer;
}

.btn.danger {
	background-color: var(--red);
	color: var(--white);
}

.btn:disabled {
	pointer-events: none;
	opacity: 0.5;
}
