@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	/* Color */
	--primary: #003566;
	--secondary: #ffc300;
	--white: #fff;
	--black: #000814;
	--grey: #e5e5e5;
	--red: #e63946;

	/* Font Size */
	--text-size-base: 2.5rem;
	--text-size-xxl: 4.8rem;
	--text-size-xl: 4rem;
	--text-size-l: 3rem;
	--text-size-s: 2rem;
	--text-size-xs: 1.6rem;
	--text-size-xxs: 1.2rem;

	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

.container {
	padding: 2rem;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}
